.contact_backcolor {
  background: #fff;
}
.contact_information {
  border: 1px solid #e6e6e7;
  border-radius: 14px;
}
.contact_information h6 {
  font-weight: 600;
  font-size: 25px;
  line-height: 27px;
  color: #cc3e2f;
}
.EditTables_Body {
  line-height: 50px;
}
.EditTables_Body label {
  color: #868689;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.save_btn {
  background: #cc3e2f;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 45px;
  margin: 5px 0px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.cancel_btn {
  background: #fff;
  border-radius: 10px;
  margin: 5px 20px;
  height: 45px;
  border: 2px solid #e6e6e7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #0e0d13;
}

/* .EditTables_Body {
  line-height: 5px !important;
} */
/* .highlight {
  width: 100% !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
} */
.multiSelectContainer li {
  font-size: 16px;
}
.chip {
  background: #cc3e2f !important;
}
.highlightOption {
  background: #fff !important;
  color: #0e0d13 !important;
}
.multiSelectContainer {
  line-height: 10px !important;
}
.multiSelectContainer input {
  margin-left: 12px;
  font-size: 17px;
  color: #495057 !important;
}
.multiSelectContainer :-ms-input-placeholder {
  color: #000000 !important;
}
::placeholder {
  color: #000000;
}
