@font-face {
  font-family: 'Roboto-Light';
  src: url('/path-to/Roboto-Light.woff2') format('woff2'),
       url('/path-to/Roboto-Light.woff') format('woff'),
       url('/path-to/Roboto-Light.ttf')  format('truetype');
}

body {
  font-family: 'Roboto-Light', sans-serif;
}
