
@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src:  url('Roboto-Regular.woff') format('woff'), 
  url('Roboto-Regular.ttf')  format('truetype'), 
  url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


