.hometitleTxt .homeTxt {
  font-size: 40px;
  font-weight: bold;
}

.hometitleTxt .homebtn {
  background-color: #CC3E2F;
  color: #fff;
  border-radius: 60px;
}
.homebody .homeImage .banner_image {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}
.homebody .homeImage .banner_image .banner_img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.banner_image {
  position: relative;
}
.banner_image .Dot_img {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 90%;
  right: 85%;
}
.banner_image .dot_img {
  width: 100%;
  height: 100%;
}
.banner_image .Element_img {
  position: absolute;
  left: 60%;
  bottom: 30%;
  width: 160px;
  height: 102px;
}
.banner_image .element_img {
  height: 100%;
  width: 100%;
}
.banner_box {
  position: absolute;
  top: 75%;
  left: 0;
  box-shadow: 0px 48px 160px 0px rgb(51 51 51 / 25%);
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
}
.banner_box h1 {
  font-size: 64px;
  font-weight: bold;
}
.banner_box p {
  font-size: 15px;
}
.IconBorder {
  width: 29px;
  height: 29px;
  border: 1px solid #CC3E2F;
  margin-left: 5px;

  color: #CC3E2F;
  border-radius: 50%;
}
.IconBorder:hover {
  color: #fff;
  background-color: #CC3E2F;
}
.IconBorder svg {
  margin-left: 5px;
}
.SocialIcon {
  padding-left: 10px;
}

@media only screen and (max-width: 1200px) {
  .banner_box h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .banner_box p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 992px) {
  .banner_box h1 {
    font-size: 30px;
    font-weight: bold;
  }
  .banner_box p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 756px) {
  .homebody .homeImage .banner_image {
    margin-top: 50px;
    width: 280px;
    height: 280px;
    display: block;
    margin: auto;
  }
  .banner_image .Element_img {
    width: 120px;
    height: 100px;
  }
  .banner_box {
    position: unset;
    text-align: center;
    flex-wrap: wrap;
  }
  .navbar-collapse {
    text-align: center;
    margin-top: 15px;
  }
}
